Coway/IOT_SAP_AP_SES_0050.module/Schemas/.SAP/SAP/functionModules/ZSMT_NFC_CODY_WR001.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05" xmlns:tns="http://www.tibco.com/xmlns/sap/SAP/ZSMT_NFC_CODY_WR001" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/sap/SAP/ZSMT_NFC_CODY_WR001" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.tibco.com/xmlns/sapscalar/2015/05" schemaLocation="/Schemas/.SAP/SAPSchema.xsd"/>
    <xsd:element name="RequestInputType" type="tns:RequestInputTypeParam"/>
    <xsd:complexType name="RequestInputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timeout" type="xsd:long"/>
            <xsd:element name="RfcRequest" type="tns:ZSMT_NFC_CODY_WR001_RequestParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcRequest" type="tns:ZSMT_NFC_CODY_WR001_RequestParam"/>
    <xsd:complexType name="ZSMT_NFC_CODY_WR001_RequestParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="I_DUST" r3:abapType="C" r3:document="현재먼지량" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_GAS" r3:abapType="C" r3:document="현재가스량" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_GOODS_SN" r3:abapType="C" r3:document="제품바코드" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_RECOMAND" r3:abapType="C" r3:document="현재추천필터" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_TYPE" r3:abapType="C" r3:document="현재유형" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="I_USETIME" r3:abapType="C" r3:document="사용시간" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ET_ESB" type="tns:sequence_lsqb_ZCWSDCS7000_rsqb_"/>
            <xsd:element minOccurs="0" name="IT_RAW" type="tns:sequence_lsqb_ZPDAS230_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestOutputType" type="tns:RequestOutputTypeParam"/>
    <xsd:complexType name="RequestOutputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string"/>
            <xsd:element name="RfcResponse" type="tns:ZSMT_NFC_CODY_WR001_ResponseParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcResponse" type="tns:ZSMT_NFC_CODY_WR001_ResponseParam"/>
    <xsd:complexType name="ZSMT_NFC_CODY_WR001_ResponseParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="E_RETURN" type="tns:ZPDA_RETURN"/>
            <xsd:element minOccurs="0" name="ET_ESB" type="tns:sequence_lsqb_ZCWSDCS7000_rsqb_"/>
            <xsd:element minOccurs="0" name="IT_RAW" type="tns:sequence_lsqb_ZPDAS230_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SAPSystemException" type="tns:ZSMT_NFC_CODY_WR001_FaultParam"/>
    <xsd:complexType name="ZSMT_NFC_CODY_WR001_FaultParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OTHERS" type="tns:RFCException"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZCWSDCS7000_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZCWSDCS7000"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCWSDCS7000">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="IF_ID" nillable="true" r3:abapType="C" r3:document="인터페이스ID" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_UUID" nillable="true" r3:abapType="C" r3:document="UUID" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="40">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="36"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_HOST" nillable="true" r3:abapType="C" r3:document="EBS 호출/응답 한 곳의 호스트명(or IP Address)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="112">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_DATE" nillable="true" r3:abapType="C" r3:document="EBS 호출/응답 한 곳의 시간  (YYYYMMDDHH24miSS)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="312">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_ADDITIONAL_DATA" nillable="true" r3:abapType="C" r3:document="추가사용필드(향후 확장 대비)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="340">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_CD" nillable="true" r3:abapType="C" r3:document="처리결과 코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="540">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_MSG" nillable="true" r3:abapType="C" r3:document="처리결과 메시지" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="548">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZPDAS230_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPDAS230"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZPDAS230">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DATE" nillable="true" r3:abapType="C" r3:document="기준일" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TIME" nillable="true" r3:abapType="C" r3:document="기준시간" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="16">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DUST" nillable="true" r3:abapType="C" r3:document="먼지" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="28">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="GAS" nillable="true" r3:abapType="C" r3:document="가스" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="32">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZPDA_RETURN">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="TYPE" nillable="true" r3:abapType="C" r3:document="에러타입(성공:T,실패:F)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE" nillable="true" r3:abapType="C" r3:document="에러메세지" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="2">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RFCException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="msg" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="msgCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
