Coway/IOT_SAP_SD_SES_0050.module/Schemas/.SAP/SAP/functionModules/ZCWPDC_IF_ETC017.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05" xmlns:tns="http://www.tibco.com/xmlns/sap/SAP/ZCWPDC_IF_ETC017" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/sap/SAP/ZCWPDC_IF_ETC017" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.tibco.com/xmlns/sapscalar/2015/05" schemaLocation="/Schemas/.SAP/SAPSchema.xsd"/>
    <xsd:element name="RequestInputType" type="tns:RequestInputTypeParam"/>
    <xsd:complexType name="RequestInputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timeout" type="xsd:long"/>
            <xsd:element name="RfcRequest" type="tns:ZCWPDC_IF_ETC017_RequestParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcRequest" type="tns:ZCWPDC_IF_ETC017_RequestParam"/>
    <xsd:complexType name="ZCWPDC_IF_ETC017_RequestParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DONG" r3:abapType="C" r3:document="동으로 찾기" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="GUN" r3:abapType="C" r3:document="군" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ISROAD" r3:abapType="C" r3:document="도로주소여부(Y:도로명주소,N:지번주소)" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RD_NM" r3:abapType="C" r3:document="도로명" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SIDO" r3:abapType="C" r3:document="시도" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="O_ITAB" type="tns:sequence_lsqb_ZCWPDCS0006_rsqb_"/>
            <xsd:element minOccurs="0" name="RETURN_TABLE" type="tns:sequence_lsqb_ZCSS1481_rsqb_"/>
            <xsd:element minOccurs="0" name="RETURN_TABLE2" type="tns:sequence_lsqb_ZCSS1486_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestOutputType" type="tns:RequestOutputTypeParam"/>
    <xsd:complexType name="RequestOutputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string"/>
            <xsd:element name="RfcResponse" type="tns:ZCWPDC_IF_ETC017_ResponseParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcResponse" type="tns:ZCWPDC_IF_ETC017_ResponseParam"/>
    <xsd:complexType name="ZCWPDC_IF_ETC017_ResponseParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="RETURN_MESSAGE" r3:abapType="C" r3:document="메시지 텍스트" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RETURN_TYPE" r3:abapType="C" r3:document="메시지 유형: S 성공, E 오류, W 경고, I 정보, A 중단" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="O_ITAB" type="tns:sequence_lsqb_ZCWPDCS0006_rsqb_"/>
            <xsd:element minOccurs="0" name="RETURN_TABLE" type="tns:sequence_lsqb_ZCSS1481_rsqb_"/>
            <xsd:element minOccurs="0" name="RETURN_TABLE2" type="tns:sequence_lsqb_ZCSS1486_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SAPSystemException" type="tns:ZCWPDC_IF_ETC017_FaultParam"/>
    <xsd:complexType name="ZCWPDC_IF_ETC017_FaultParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OTHERS" type="tns:RFCException"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZCWPDCS0006_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZCWPDCS0006"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCWPDCS0006">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ZIP_SEQ" nillable="true" r3:abapType="C" r3:document="우편일련번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZIP1" nillable="true" r3:abapType="C" r3:document="우편번호1" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="16">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZIP2" nillable="true" r3:abapType="C" r3:document="우편번호2" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="22">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ADDR" nillable="true" r3:abapType="C" r3:document="우편주소" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="28">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="70"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="HUGE" nillable="true" r3:abapType="C" r3:document="다량명칭" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="168">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ALL_ADDR" nillable="true" r3:abapType="C" r3:document="상세주소" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="328">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZIP_CODE" nillable="true" r3:abapType="C" r3:document="우편번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="728">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZCSS1481_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZCSS1481"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCSS1481">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PSTLZ" nillable="true" r3:abapType="C" r3:document="우편번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SIDO" nillable="true" r3:abapType="C" r3:document="시도" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="20">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="GUN" nillable="true" r3:abapType="C" r3:document="군" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="36">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DONG" nillable="true" r3:abapType="C" r3:document="동" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="76">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="HUGE" nillable="true" r3:abapType="C" r3:document="다량명칭" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="236">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BUNJI" nillable="true" r3:abapType="C" r3:document="번지" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="396">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZIP_SEQ" nillable="true" r3:abapType="N" r3:document="우편일련번호" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="496">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="REP_SIDO" nillable="true" r3:abapType="C" r3:document="대표시도코드" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="512">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZCSS1486_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZCSS1486"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCSS1486">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ZIP_NUM" nillable="true" r3:abapType="C" r3:document="우편번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZIP_WJ_SEQ" nillable="true" r3:abapType="N" r3:document="우편번호웅진일련번호" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="20">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SEQ" nillable="true" r3:abapType="C" r3:document="우편번호순번" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="36">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZIP_BLK_SEQ" nillable="true" r3:abapType="C" r3:document="구간일련번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="42">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DO_NM" nillable="true" r3:abapType="C" r3:document="시도" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="54">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CT_NM" nillable="true" r3:abapType="C" r3:document="시군구" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="94">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="B_DNG_NM" nillable="true" r3:abapType="C" r3:document="읍면" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="154">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RD_NM" nillable="true" r3:abapType="C" r3:document="도로명" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="214">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BLD_MB_BGN" nillable="true" r3:abapType="N" r3:document="건물번호본번시작" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="294">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BLD_SB_BGN" nillable="true" r3:abapType="N" r3:document="건물번호부번시작" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="304">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BLD_MB_CLS" nillable="true" r3:abapType="N" r3:document="건물번호본번종료" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="314">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BLD_SB_CLS" nillable="true" r3:abapType="N" r3:document="건물번호부번종료" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="324">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BLD_BLK_STR" nillable="true" r3:abapType="C" r3:document="건물번호명칭텍스트" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="334">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="BLD_SNGL_NO" nillable="true" r3:abapType="C" r3:document="단독건물번호" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="414">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ZIP_BLD_NM" nillable="true" r3:abapType="C" r3:document="우편건물명" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="494">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RFCException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="msg" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="msgCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
