Coway/IOT_SAP_CS_SES_0050.module/Schemas/.SAP/SAP/functionModules/ZCS_USE_GOODS_FILTER_DIS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:r3="http://www.tibco.com/xmlns/sapscalar/2015/05" xmlns:tns="http://www.tibco.com/xmlns/sap/SAP/ZCS_USE_GOODS_FILTER_DIS" elementFormDefault="unqualified" targetNamespace="http://www.tibco.com/xmlns/sap/SAP/ZCS_USE_GOODS_FILTER_DIS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.tibco.com/xmlns/sapscalar/2015/05" schemaLocation="/Schemas/.SAP/SAPSchema.xsd"/>
    <xsd:element name="RequestInputType" type="tns:RequestInputTypeParam"/>
    <xsd:complexType name="RequestInputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timeout" type="xsd:long"/>
            <xsd:element name="RfcRequest" type="tns:ZCS_USE_GOODS_FILTER_DIS_RequestParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcRequest" type="tns:ZCS_USE_GOODS_FILTER_DIS_RequestParam"/>
    <xsd:complexType name="ZCS_USE_GOODS_FILTER_DIS_RequestParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="I_ORDER_NO" r3:abapType="C" r3:javaType="java.lang.String" r3:jcoType="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ET_ESB" type="tns:sequence_lsqb_ZCWSDCS7000_rsqb_"/>
            <xsd:element minOccurs="0" name="ET_ITEM" type="tns:sequence_lsqb_ZCSS1719_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RequestOutputType" type="tns:RequestOutputTypeParam"/>
    <xsd:complexType name="RequestOutputTypeParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CPIC_ID" type="xsd:string"/>
            <xsd:element name="RfcResponse" type="tns:ZCS_USE_GOODS_FILTER_DIS_ResponseParam"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RfcResponse" type="tns:ZCS_USE_GOODS_FILTER_DIS_ResponseParam"/>
    <xsd:complexType name="ZCS_USE_GOODS_FILTER_DIS_ResponseParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ES_RETURN" type="tns:ZCSS1001"/>
            <xsd:element minOccurs="0" name="ET_ESB" type="tns:sequence_lsqb_ZCWSDCS7000_rsqb_"/>
            <xsd:element minOccurs="0" name="ET_ITEM" type="tns:sequence_lsqb_ZCSS1719_rsqb_"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SAPSystemException" type="tns:ZCS_USE_GOODS_FILTER_DIS_FaultParam"/>
    <xsd:complexType name="ZCS_USE_GOODS_FILTER_DIS_FaultParam">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OTHERS" type="tns:RFCException"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZCWSDCS7000_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZCWSDCS7000"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCWSDCS7000">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="IF_ID" nillable="true" r3:abapType="C" r3:document="" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_UUID" nillable="true" r3:abapType="C" r3:document="" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="40">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="36"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_HOST" nillable="true" r3:abapType="C" r3:document="" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="112">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_DATE" nillable="true" r3:abapType="C" r3:document="" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="312">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IF_ADDITIONAL_DATA" nillable="true" r3:abapType="C" r3:document="" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="340">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_CD" nillable="true" r3:abapType="C" r3:document="" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="540">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RST_MSG" nillable="true" r3:abapType="C" r3:document="" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="548">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence_lsqb_ZCSS1719_rsqb_">
        <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZCSS1719"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCSS1719">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="FILTER_CD" nillable="true" r3:abapType="C" r3:document="" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="FILTER_CD_NM" nillable="true" r3:abapType="C" r3:document="Material Description (Short Text)" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="36">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="LAST_CHG_DT" nillable="true" r3:abapType="D" r3:document="" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="116">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="DUE_CHG_DT" nillable="true" r3:abapType="D" r3:document="" r3:javaType="javax.xml.datatype.XMLGregorianCalendar" r3:jcoType="1" r3:offset="132">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CHG_CYCLE" nillable="true" r3:abapType="N" r3:document="" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="148">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CYCLE_DIFF" nillable="true" r3:abapType="N" r3:document="" r3:javaType="java.lang.String" r3:jcoType="6" r3:offset="152">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZCSS1001">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="TYPE" nillable="true" r3:abapType="C" r3:document="Message type: S Success, E Error, W Warning, I Info, A Abort" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="CODE" nillable="true" r3:abapType="C" r3:document="Message code" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="2">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="MESSAGE" nillable="true" r3:abapType="C" r3:document="Message Text" r3:javaType="java.lang.String" r3:jcoType="0" r3:offset="12">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RFCException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="msg" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="msgCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
