Coway/IOT_SAP_SD_SES_0050.module/Schemas/IfProcessValue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/IfProcessValue" xmlns:tns="http://www.example.org/IfProcessValue" elementFormDefault="qualified">
<element name="Error">
				<complexType>
					<sequence>
    		<element name="Code" type="string"/>
</sequence>
</complexType>
</element>
<element name="Status">
				<complexType>
					<sequence>
    		<element name="Value" type="string"/>
</sequence>
</complexType>
</element>
</schema>